@import 'reset';
@import 'variabels/global';

.app {
  font-size: $font-size-m;
  background: $main-background;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
}