@import "app/styles/variabels/global";

.Button {
  color: white;
  transition: .2s linear;
  background: none;
  padding: 24px 32px 24px 32px;
  border-radius: 40px;
  border: 1px solid $button-border;
  line-height: 1;
  font-weight: 400;

  &:hover {
    cursor: pointer;
  }
}

