.buttonTextBlock {
  display: flex;
  padding: 10px;
  border: 1px solid #a4a4b6;
  border-radius: 5px;
  width: 300px;
  height: fit-content;

  &__text {
    font-size: 14px;
  }

  &__button {
    margin-right: 30px;
  }
}