$font-family-main: 'Times New Roman', Serif;

$font-size-m: 16px;
$font-line-m: 24px;

$font-size-l: 24px;
$font-line-l: 32px;

$font-size-xl: 38px;
$font-line-xl: 44px;

$main-background: #252525;
$main-border-color: #969696;
$button-border: #C19D6B;

$primary-title-color: white;
$secondary-title-color: #c7c6c6;
$third-title-color: #6b6767;

$text-color: #545151;
